Repository devops-openhack-aug21/openhack-devops-team, changes with the owners that .github/CODEOWNERS names for each.
All owners: @devops-openhack-aug21/poi-team, @devops-openhack-aug21/trips-team, @devops-openhack-aug21/userjava-team, @devops-openhack-aug21/userprofile-team

Create test01 by Xiang in user-java folder
  apis/user-java/test01
Owners: @devops-openhack-aug21/userjava-team

Add a new file AB#2
  apis/userprofile/newfile
Owners: @devops-openhack-aug21/userprofile-team

Test Build Trigger
  apis/poi/README.md
Owners: @devops-openhack-aug21/poi-team

Modified Test
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @devops-openhack-aug21/poi-team

Fixing Test
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @devops-openhack-aug21/poi-team

Test CI/CD AB#2
  apis/user-java/README.md
Owners: @devops-openhack-aug21/userjava-team

AB#2 Test CI/CD
  apis/user-java/README.md
Owners: @devops-openhack-aug21/userjava-team

Update README to test CI/CD
  apis/trips/README.md
Owners: @devops-openhack-aug21/trips-team

AB#3
  apis/poi/README.md
Owners: @devops-openhack-aug21/poi-team

AB#4 test userprofile CICD
  apis/userprofile/README.md
Owners: @devops-openhack-aug21/userprofile-team

AB#5 Test CI/CD
  apis/trips/README.md
Owners: @devops-openhack-aug21/trips-team

AB#5 Test CI/CD
  apis/trips/README.md
Owners: @devops-openhack-aug21/trips-team

AB#4 test CICD again
  apis/userprofile/README.md
Owners: @devops-openhack-aug21/userprofile-team

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Owners: none

.github/CODEOWNERS:

/apis/poi/  @devops-openhack-aug21/poi-team

/apis/trips/  @devops-openhack-aug21/trips-team

/apis/user-java/   @devops-openhack-aug21/userjava-team

/apis/userprofile/ @devops-openhack-aug21/userprofile-team
